<div class="  ">
    <div class="p-4 bg-[#BD8306]  rounded-t-[10px] flex justify-between items-center ">
        <p class=" mb-0 text-[16px] font-semibold text-white">Tạo khách hàng</p>
        <i class="fa-regular fa-rectangle-xmark fa-rotate-90 text-white text-[20px]"></i>
    </div>
    <div class=" p-6 min-h-[80vh] max-h-[120vh] overflow-hidden  overflow-y-auto bg-white rounded-b-[10px] ">
        <!--  form -->
        <form [formGroup]="form" nz-form class="">
            <div class="grid grid-cols-3 gap-x-16  items-center">
                <nz-form-item>
                    <nz-form-label [nzSpan]="24" nzFor="full_name" class="!p-0">Họ tên khách hàng <span
                            class="text-red-600"> *</span></nz-form-label>
                    <nz-form-control [nzSpan]="24">
                        <input nz-input name="full_name" type="text" formControlName="full_name"
                            placeholder="Họ và tên khách hàng" id="full_name" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="gender" class="!p-0">Giới tính </nz-form-label>
                    <nz-form-control [nzSpan]="24">
                        <nz-radio-group formControlName="gender"  nzName="radiogroup">
                            <label nz-radio nzValue="Nam">Nam</label>
                            <label nz-radio nzValue="Nữ">Nữ</label>
                            <label nz-radio nzValue="Khác">Khác</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="24" nzFor="date_of_birth" class="!p-0">Ngày Sinh </nz-form-label>
                    <nz-form-control [nzSpan]="24">
                        <nz-date-picker class="w-full" formControlName="date_of_birth"
                            nzFormat="dd/MM/YYYY"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
                <div class="grid grid-cols-2 header-1  gap-7">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="source" class="!p-0">Nguồn khách hàng <span
                                class="text-red-600"> *</span></nz-form-label>
                        <nz-form-control [nzSpan]="24">
                            <nz-select nzShowSearch formControlName="source" class="!w-full">
                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="status"  class="!p-0">Trạng thái <span class="text-red-600">
                                *</span></nz-form-label>
                        <nz-form-control [nzSpan]="24">
                            <nz-select nzShowSearch formControlName="status" class="!w-full">
                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <hr class="mt-2 h-[1px] text-[#2D2D2D]">
            <div>
                <p class="mt-3 text-[#000000] text-[16px] font-normal">
                    Thông tin liên hệ
                </p>
                <div class="grid grid-cols-3 gap-x-14  items-center header-2">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="phone_number" class="!p-0">Số điện thoại <span
                                class="text-red-600"> *</span></nz-form-label>
                        <nz-form-control [nzSpan]="24">
                            <nz-input-group [nzSuffix]="suffixIconSearch">
                                <input nz-input name="phone_number" type="text" [maxlength]="10"
                                    formControlName="phone_number" placeholder="Số điện thoại"
                                    id="phone_number" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="24" nzFor="email" class="!p-0">Email <span
                                class="text-red-600"> *</span></nz-form-label>
                        <nz-form-control [nzSpan]="24">
                            <input nz-input name="email" type="email" formControlName="email"
                                placeholder="Email" id="email" />
                        </nz-form-control>
                    </nz-form-item>
                   
                    <div class="grid grid-cols-3 header-1  gap-7">
                        <nz-form-item >
                            <nz-form-label [nzSpan]="24" nzFor="social_media" class="!p-0">Mạng xã hội<span
                                    class="text-red-600"> *</span></nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select nzShowSearch formControlName="social_media" class="!w-full">
                                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="col-span-2">
                            <nz-form-control [nzSpan]="24" class="mt-[32px]">
                                <input nz-input name="detailed_info" type="text" formControlName="detailed_info"
                                 id="detailed_info" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-x-14  items-start header-2">
                    <div>
                        <p class=" mt-3 text-[#000000] text-[16px] font-semibold">
                            Sản phẩm quan tâm <Span></Span>
                        </p>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24" nzFor="service" class="!p-0">Sản phẩm quan tâm<span
                                class="text-red-600"> *</span></nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select   nzMode="multiple" nzShowSearch formControlName="service" class="!w-full">
                                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                                </nz-select>
                            </nz-form-control>
                            
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24" nzFor="notes" class="!p-0">Ghi chú</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <input nz-input name="notes" type="text" formControlName="notes"
                                placeholder="Họ và tên khách hàng" id="notes" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div>
                        <p class="mt-3 mb-0 text-[#000000] text-[14px] font-normal">
                            Địa chỉ liên hệ
                        </p>  
                        <nz-form-item >
                            <nz-form-control [nzSpan]="24" class="mt-[8px]">
                                <nz-select nzShowSearch formControlName="city"  nzPlaceHolder="Tỉnh/Thành phố" class="!w-full">
                                    <nz-option *ngFor="let option of Listcity" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item >
                            <nz-form-control [nzSpan]="24" class="mt-[8px]">
                                <nz-select nzShowSearch formControlName="district" nzPlaceHolder="Quận/Huyện" class="!w-full">
                                    <nz-option *ngFor="let option of listdistrict" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item >
                            <nz-form-control [nzSpan]="24" class="mt-[8px]">
                                <nz-select nzShowSearch formControlName="ward" nzPlaceHolder="Phườn/Xã" class="!w-full">
                                    <nz-option *ngFor="let option of wardData" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item >
                            <nz-form-control [nzSpan]="24" class="mt-[8px]">
                                <input nz-input name="address" type="text" formControlName="address" placeholder="Địa chỉ"
                                 id="address" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="   gap-5 timerGrup">
                        <nz-form-label [nzSpan]="24" nzFor="follow_up_date" class="!p-0">Ghi chú</nz-form-label>
                        <div class=" flex border-solid border-[#828282] border-[1px] rounded-[4px] p-[1px]" >
                            <nz-form-item  class="w-[30%]" >
                                <nz-form-control [nzSpan]="24" >
                                    <nz-time-picker  (nzOpenChange)="timeCheckSwap()"	 nzPlaceHolder="--/--" nzFormat="HH:mm" formControlName="follow_up_date" 	></nz-time-picker>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item   class="w-[30%]" >
                                <nz-form-control [nzSpan]="24">
                                    <nz-time-picker  (nzOpenChange)="timeCheckSwap()" nzPlaceHolder="--/--"   nzFormat="HH:mm" formControlName="follow_down_date"></nz-time-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                       
                    </div>
                </div>
            </div>

        </form>
        <div class="max-h-[50dvh] h-fit overflow-auto rounded-md border-l border border-[#BDBDBD] border-solid my-5 ">
            <table class="min-w-full w-fit  rounded-md">
                <thead class=" sticky top-0 left-0 w-full">
                    <tr class="   *:py-3 *:px-3  *:text-sm *:text-center *:font-medium *:bg-[#F2F2F2] *:border-solid *:border-b *:border-[#BDBDBD]">
                        <th class="w-[15%] rounded-tl-md  ">Lần</th>
                        <th class="w-[20%] ">Ngày</th>
                        <th class="w-[35%]">Kết quả chăm sóc </th>
                        <th class="w-[25%] rounded-tr-md ">Cập nhật trạng thái</th>
                     
                    </tr>
                </thead>
                <tbody class="">
                    
                    <!-- <tr *ngFor="let item of ListItem ;let i=index" class=" *:text-left *:py-3 *:text-sm *:font-semibold *:px-3  *:bg-[#FFFFFF]  {{i !== ListItem.length-1 ? '*:border-solid *:border-b *:border-[#BDBDBD]': '' }} ">
                        <td class="w-[60px] pl-3">{{(pageNumber-1)*pageSize +i+1}}</td>
                        <td class="max-w-[160px]  min-w-[100px]">{{item?.customer_code||"" }}</td>
                        <td class="max-w-[160px]  min-w-[100px]"><p class="line-clamp-2">{{item?.full_name||"" }}</p></td>
                        <td class="max-w-[160px] min-w-[100px]">{{item?.phone_number||"" }}</td>
                        <td class="min-w-[220px]"><p class="line-clamp-2">{{item?.email||"" }}</p></td>
                        <td class="max-w-[160px] min-w-[120px]">{{userAcoutn||"" }}</td>
                        <td class="max-w-[160px] min-w-[120px]">{{item?.source?.title||"" }}</td>
                        <td class="max-w-[250px] min-w-[120px]"><p class="">{{item?.notes||"" }} </p></td>
                        <td *ngIf="item?.source?.created_at" class=" min-w-[60px] w-fit">{{item?.source?.created_at| date:"dd/MM/YYYY"     }}</td>
                        <td *ngIf="!item?.source?.created_at" class=" min-w-[60px] w-fit"></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
</ng-template>